.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
sample-npy-files/**
.gitignore
.gitattributes
.yarnrc
esbuild.js
CONTRIBUTING.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
